
<% @comments.each do |comment| %>
	<div class="well">
		<p>
			<b> <%=comment.user.name%>: </b>  <%=comment.content %> 
		</p>

		<% comment.comments.each do |reply| %>
			 <p class="m-l-25"> <b><%=reply.user.name%>:</b> <%=reply.content%> </p>
		<%end%>
		<button class="btn btn-xs btn-primary"> Reply </button>
	</div>
<%end%> 
