
<div class="card card-body card-padding text-center">
	<h1>  All Your Writing Projects! </h1>
</div>

<div class="card card-body palette-Purple-400 bg">
	<a href="/works/new" class="p-25"> <h2 class="text-center palette-White text"> Start a New Writing Project </h2> </a>
</div>


<% @works.each do |work| %>
	<div class="card card-body card-padding">

		<a href="/works/<%=work.id%>"><h3> <%=work.name%></h3></a>

	</div>

<%end%>

