
<div class="card card-body card-padding">
<h1> New Writing Project </h1>

		<%= form_tag "/works", method: :post do %> 
			Title: <input type="text" name="name" class="form-control">
			<br>
			Description: <textarea name="description" class="form-control" rows="3" ></textarea> 
			<br>
			<input type="submit" value="Create new Work!">
		<% end %>

</div>