<div class="card card-body card-padding text-center">
	<h1> Drafts in: <%= @work.name %> </h1>
</div>

<div class="card card-body card-padding">
	<% @drafts.each do |draft| %>
		<div>
			<h3><a href="/drafts/<%=draft.id%>"> <%= draft.name %> </a></h3>
		</div>
	<%end%>
</div>

	<div class="card card-body palette-Purple-400 bg">
<a href="/drafts/new" class="p-25"> <h2 class="text-center palette-White text"> Create a new Draft </h2> </a>

</div>

<br>

	<%= button_to "Delete Entire Work", "/works/#{@work.id}", method: :delete %>


