<div class="card card-body card-padding text-center">
	<h1> Your Writing Groups! </h1>
</div>

<div id="c-grid" class="clearfix" data-columns>
<% @groups.each do |group|%>
	<div class="card card-body card-padding text-center">
	<a href="/groups/<%=group.id%>"><h3> <%= group.name %> </h3></a>
	</div>
<%end%>
</div>

