<h1><%= @group.name %> </h1>

Welcome to this dope-ass group. Would you like to join?

<%= form_tag "/group_members", method: :post do %>
	<input type="hidden" name="group_id" value="<%=@group.id%>">
	<input type="submit" value="heck yeah pal">
<%end%>