<div class="card" id="todo-lists">
	  <div class="card-header ch-dark palette-Purple-300 bg">
	      <h2>Todo lists <small>Mattis Malesuada Risus</small></h2>

	      <ul class="actions a-alt">
	          <li class="dropdown">
	              <a href="" data-toggle="dropdown">
	                  <i class="zmdi zmdi-more-vert"></i>
	              </a>

	              <ul class="dropdown-menu dropdown-menu-right">
	                  <li>
	                      <a href="">Change Date Range</a>
	                  </li>
	                  <li>
	                      <a href="">Change Graph Type</a>
	                  </li>
	                  <li>
	                      <a href="">Other Settings</a>
	                  </li>
	              </ul>
	          </li>
	      </ul>
	  </div>

	  <div class="card-body">
	      <div class="list-group lg-alt">
	          <div class="list-group-item-header palette-Purple text">Today</div>

	          <div class="list-group-item media">
	              <div class="pull-left">
	                  <div class="avatar-char ac-check">
	                      <input class="acc-check" type="checkbox" checked>

	                      <span class="acc-helper palette-Purple-300 bg">C</span>
	                  </div>
	              </div>

	              <div class="media-body">
	                  <div class="lgi-heading">Consectetur Sem Sollicitudin</div>
	                  <small class="lgi-text">08:55 AM</small>
	              </div>
	          </div>

	          <div class="list-group-item media">
	              <div class="pull-left">
	                  <div class="avatar-char ac-check">
	                      <input class="acc-check" type="checkbox" checked>

	                      <span class="acc-helper palette-Purple-300 bg">E</span>
	                  </div>
	              </div>
	              <div class="media-body">
	                  <div class="lgi-heading">Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</div>
	                  <small class="lgi-text">07:32 AM</small>
	              </div>
	          </div>

	          <div class="list-group-item-header palette-Light-Blue text">Tomorrow</div>

	          <div class="list-group-item media">
	              <div class="pull-left">
	                  <div class="avatar-char ac-check">
	                      <input class="acc-check" type="checkbox">

	                      <span class="acc-helper palette-Light-Blue bg">P</span>
	                  </div>
	              </div>
	              <div class="media-body">
	                  <div class="lgi-heading">Porta Venenatis Quam</div>
	                  <small class="lgi-text">10:30 P</small>
	              </div>
	          </div>

	          <div class="list-group-item media">
	              <div class="pull-left">
	                  <div class="avatar-char ac-check">
	                      <input class="acc-check" type="checkbox">

	                      <span class="acc-helper palette-Light-Blue bg">N</span>
	                  </div>
	              </div>
	              <div class="media-body">
	                  <div class="lgi-heading">Nullam quis risus eget urna mollis ornare vel eu leo</div>
	                  <small class="lgi-text">11:02 PM</small>
	              </div>
	          </div>

	          <a href="" class="list-group-item view-more">
	              <i class="zmdi zmdi-long-arrow-right"></i> View all
	          </a>
	      </div>

	      <button class="btn palette-Purple-300 bg btn-float waves-effect waves-circle waves-float"><i class="zmdi zmdi-plus"></i></button>
	  </div>
	</div>

  <a href="/works" class="btn btn-primary"> Works Index </a>