<div class="card card-body card-padding text-center">
	<h1> Pick a Category! </h1>
</div>

<div id="c-grid" class="clearfix" data-columns>
	<% @categories.each do |category| %>
		<div class="card card-body card-padding text-center">
			<a href="/categories/<%=category.id%>"><h2> <%= category.name %> </h2></a>
		</div>
	<%end%>
</div>